#APP_NAME="Guane intern fastapi"
#HOST="localhost"
#DATABASE="dbname"
#USER_DB="user"
#PASSWORD_DB="password"
#port_db="5432"
#environment="dev"
#jwt_token="d33e53e30ee37e5b550b8a87b84542fcd471c188447f4cea2cf1eac040ca2e3b"
#api_image="https://dog.ceo/api/breeds/image/random"


APP_NAME="Guane intern fastapi from docker"
HOST="localhost"
DATABASE="rapidog"
DATABASE_TESTING="rapidog_testing"
USER_DB="rapi"
PASSWORD_DB="root"
port_db="5432"
environment="dev"
jwt_token="d33e53e30ee37e5b550b8a87b84542fcd471c188447f4cea2cf1eac040ca2e3b"
api_image="https://dog.ceo/api/breeds/image/random"
POSTGRES_USER=rapi
POSTGRES_PASSWORD=root