[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
email-validator = "*"
python-dotenv = "*"
psycopg2-binary = "*"
passlib = { extras = ["bcrypt"], version = "*" }
multipart = "*"
python-multipart = "*"
install = "*"
python-jose = { extras = ["cryptography"], version = "*" }
httpx = "*"
pytest = "*"
requests = "*"
pytest-cov = "*"
pyyaml = "*"
tortoise-orm = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.8"
